mat-form-field{
    width: 100%;
    text-align: right;
}
textarea{
    height: 100px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  mat-grid-tile {
    background: lightblue;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  