.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }  


 td.mat-cell, td.mat-footer-cell {
    font-size: 20px;
  }
  
  th.mat-header-cell{
    font-size: 25px;
    font-weight: bolder;
  }
  .container{
    max-width: 80%;
    margin: 0 auto;
  }  